[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FRESA.CAD"]
	path = FRESA.CAD
	url = https://github.com/josetamezpena/fresa.cad
